body {
    font-family: 'Poppins', sans-serif !important;
}

.hero {
    background: linear-gradient(rgba(9, 18, 54, 0.6), rgba(9, 18, 54, 0.6)),
        url("../assets/home-images/banner3.jpg") no-repeat center center;
    background-size: cover;
    position: relative;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.hero-content {
    text-align: center;
}

.hero-title {
    font-size: 3rem;
    font-weight: 700;
    color: white;
}


.hero-title {
    font-size: 3rem;
    font-weight: 700;
}

.card {
    height: 100%;
    background-color: #f3f2f8 !important;
    border-radius: 12px !important;
}